*{
	margin: 0;
	padding: 0;


}

header{
	background: url("img/header.jpg") no-repeat;
	height: 581px;
	font-family: "Open Sans", normal;
	background-size: 100%;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	
}
.orientation-container-header{
	display: flex;
	justify-content: space-around;
	width: 1200px;
	margin: 0 auto;
/*	border: 3px solid black;*/
}
header nav{
	margin-top: 33px;
	display: flex;
	text-align: right;
	margin-left: 460px;
	margin-right: 0;

}
header nav a{
	margin-left: 84px;
	text-decoration: none;
	color: #2E2F22;
	font-size: 18px;
}
header nav a:first-of-type{
	margin-left: 0;

}

.logo { 
	margin-top: 4px;
	text-align: left;
	left: 0;
 }
 /*main*/
  .orientation-container-main{
 	width: 1200px;
	margin: 0 auto;
 }
 h1 {
 	margin-top: 50px;
 	font-family: Spectral SC;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 55px;
	color: #2E2F22;

 }
 .span{
 	margin-top: 8px;
 }
 span{
 	margin-right: 18px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	/* identical to box height, or 162% */


	color: rgba(46, 47, 34, 0.7);
}
main section.paragraph{
	margin-top: 50px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */


	color: #2E2F22;

}
main img#post{
	width: 100%;
	margin-top: 40px;
}
figcaption{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 26px;
	/* or 186% */


	color: #2E2F22;
}
.likes-and-social{
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}

.likes{
	display: flex;
	align-items: center;
}
.likes span{
	margin-left: 14px;
}

.social-networks{
	display: flex;
	width: 240px;
	justify-content: space-between;
}
main a{
	display: inline-block;
	text-decoration: none;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 49px;
	color: #2E2F22;
	margin-right: 26px;
	margin-top: 37px;
}

.comments{
	display: flex;
	flex-direction: column;
	width: 794px;
	background-color: #ECE1E1;
	margin-top: 65px;
	border-radius: 15px;
}
.orientation-comments{
	margin: 44px 101px;
}

.comment{
	margin-bottom: 55px;
}
.comment .flex{
	display: flex;
	align-items: center;
}
.comment span{
	margin-left: 13px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	color: #2E2F22;
	vertical-align: middle;

}
.comment p{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #2E2F22;
	margin-top: 14px;
}


/*form*/


.form h2{
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	color: #2E2F22;
	margin-bottom: 70px;

}

input{
	border: none;
	border-bottom: 	1px solid #2E2F22;
	margin-bottom: 35px;
	width: 221px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #2E2F22;
}

textarea{
	border-radius: 	10px;
	padding: 18px 20px;
}
form .orientation-form{
	display: flex;	
}
form{
	width: 680px;
	
}

label, textarea{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #2E2F22;
	margin-bottom: 15px;
	margin-bottom: 15px;

}

textarea{
	margin-left: auto;
	margin-right: 0;
}
.input{
	margin-right: 84px;
}

.form{
	margin-top: 77px;
	margin-left: 110px;

}
button{
	padding: 12px 58px;
	border-radius: 10px;
	border: 1px solid  #202117;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	background: white;
	color: #202117;
	margin-top: 30px;
}

main{
	margin-bottom: 81px;
}
/*footer*/
footer{
	padding-top:65px;
	background: #D7D1C9;
	height: 100px;
}
footer nav{
	display: flex;
	justify-content: space-between;
	width: 800px;
	margin: 0 auto;
}
footer nav a{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: #2E2F22;
	text-decoration: none;
}
